.hearder{
    display: flex;
    background-color: antiquewhite;
    height: 70px;
    max-width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px;
    border-radius: 2px;
}

.hearder a{
    text-decoration: none;
    color: #416B44;
}

.hearder h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    color: #416B44;
    display: flex;
    text-align: center;
}
.logo{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #416B44;
}
nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #416B44;
    font-size: 18px;
    margin-left: 20px;
}
nav a:hover{
    text-decoration: none;
    color: #1f3823;
}

.home{
    display: block;
    background-color: #416B44;
    height: 93vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}
.home-content{
    display: flex;
    flex-direction: column;
    height: 93vh;
}

.home-content h2{
    font-family: 'Poppins', sans-serif;
    height: 10px;
    font-weight: 700;
    padding-top: 45px;
    font-size: 35px;
    color: white;
    padding-left: 50px;
}

.home-content p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 520px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
    display: flex;
    padding-left: 50px;
}

.home-content img{
    display: block;
    width: 700px;
    margin-top: 19px;
}